@model List<IoTSolution.Models.DispositivosModel>

@{
    ViewData["Title"] = "Dispositivos";
}

<h1>Dispositivos</h1>

<a href="@Url.Action("Create", "Dispositivos")" class="btn btn-primary mb-3">Criar Dispositivo</a>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Data e Hora de Cadastro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dispositivo in Model)
            {
                <tr>
                    <td>@dispositivo.IdDispositivo</td>
                    <td><a href="@Url.Action("Edit", "Dispositivos", new { id = dispositivo.IdDispositivo })">@dispositivo.Descricao</a></td>
                    <td>@dispositivo.DataHoraCadastro</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum dispositivo encontrado.</p>
}
