@model List<IoTSolution.Models.LeiturasModel>

@{
    ViewData["Title"] = "Leituras";
    var dispositivosList = ViewBag.Dispositivos as List<SelectListItem>;
    var sensoresList = ViewBag.Sensores as List<SelectListItem>;
}

<h1>Dispositivos</h1>

<form method="get" action="@Url.Action("Index", "Leituras")">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <label for="dispositivo">Dispositivo</label>
                <select id="dispositivo" name="dispositivo" class="form-control" asp-items="@(ViewBag.Dispositivos as List<SelectListItem>)">
                    <option value="">Todos</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="sensor">Sensor</label>
                <select id="sensor" name="sensor" class="form-control" asp-items="@(ViewBag.Sensores as List<SelectListItem>)">
                    <option value="">Todos</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="dataInicial">Data Inicial</label>
                <input type="date" id="dataInicial" name="dataInicial" class="form-control" value="@Context.Request.Query["dataInicial"]" />
            </div>
            <div class="col-md-2">
                <label for="dataFinal">Data Final</label>
                <input type="date" id="dataFinal" name="dataFinal" class="form-control" value="@Context.Request.Query["dataFinal"]" />
            </div>
            <div class="col-md-2">
                <label for="temperatura">Temperatura</label>
                <input type="text" step="0,1" id="temperatura" name="temperatura" class="form-control" value="@Context.Request.Query["temperatura"]" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("RelatorioTemperaturas", "Leituras")" class="btn btn-success mt-4">Relatório de Temperaturas</a>
            </div>
        </div>
    </div>
</form>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID Leitura</th>
                <th>ID Sensor</th>
                <th>ID Dispositivo</th>
                <th>Temperatura</th>
                <th>Data e Hora da Leitura</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leitura in Model)
            {
                var dispositivoDesc = dispositivosList?.FirstOrDefault(d => d.Value == leitura.IdDispositivo.ToString())?.Text ?? leitura.IdDispositivo.ToString();
                var sensorDesc = sensoresList?.FirstOrDefault(s => s.Value == leitura.IdSensor.ToString())?.Text ?? leitura.IdSensor.ToString();

                <tr>
                    <td>@leitura.IdLeitura</td>
                    <td>@sensorDesc</td>
                    <td>@dispositivoDesc</td>
                    <td>@leitura.Temperatura °C</td>
                    <td>@leitura.DataHoraLeitura</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum dispositivo encontrado.</p>
}
